<nav class='sidebar'>
  <div class='logo'>
    <img src="/assets/images/logo.png"/>
  </div>
  <div class='links'>
    {{#link-to 'devices'}}
      Devices
    {{/link-to}}
    {{#link-to 'console'}}
      Console
    {{/link-to}}
  </div>
</nav>
