<nav class='sidebar'>
  <div class='logo'>
    <img src="/assets/images/logo.png"/>
  </div>
  <div class='links'>
    {{#link-to 'devices'}}
      <div class="tooltip-item">
        <span class="hint--right hint--info" aria-label="Devices">
          <i class='im-devices-icon'></i>
        </span>
      </div>
    {{/link-to}}
    {{#link-to 'console'}}
      <div class="tooltip-item">
        <span class="hint--right hint--info" aria-label="Console">
          <img src='/assets/images/terminal.png' style='width: 24px; padding: 3px;'/>
        </span>
      </div>
    {{/link-to}}
  </div>
</nav>
