<nav class='sidebar'>
  <div class='logo'>
    <img src="/assets/images/logo.png"/>
  </div>
  <div class='links'>
    {{#link-to 'devices'}}
      <div class="tooltip-item logs-icon">
        <i class='im-devices-icon'></i>
        <!-- <div class="tooltip">
          <p>Console</p>
        </div> -->
      </div>
    {{/link-to}}
    {{#link-to 'console'}}
      <div class="tooltip-item logs-icon">
        <i class="icon-terminal"></i>
        <!-- <div class="tooltip">
          <p>Console</p>
        </div> -->
      </div>
    {{/link-to}}
  </div>
</nav>
