{{outlet}}

<div id="terminal">
  <p>Welcome to <span class='cyan'>particle.io</span>! Type "help" to get started...</p>
  <p>
    <span class="prompt">particle.io ∼ &gt; </span>
    <span contenteditable="true" class="input"></span>
  </p>
</div>
